    <section class="border-bottom" style="padding-top: 100px; padding-bottom: 50px"> <!--CSS-->
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body" style="text-align: center">	<!--Info Angaben-->
                            <h5 class="card-title">Kontakt</h5>
                            <p class="card-text"> Tino Dietrich</p>
                            <p class="card-text">+41 78 740 33 98</p><p class="card-text">tino.dietrich@stud.fhgr.ch</p>
                            <p class="card-text">7013 Domat/Ems</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    </body>
</html>