{% include "head.html" %}
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1521805103424-d8f8430e8933?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
}
</style>
<body>

 <H1 style="color: white"> Etwas ist schief gelaufen versuch es noch einmal</H1> <!--Antwort nach fehlerhafter Eingabe in Termin-->
<a href="termin"> zurück </a>

 <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>
{% include "about.html" %}