{% include "head.html" %}
<br>
<br>
<br>
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <br>
    <br><br><br>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">


        <h2>Termin anfragen</h2>
        <p>In diesem Berreich können Sie eine Terminanfrage mit uns für die nächste Woche starten. Wir helfen Ihnen gerne den für Sie besten Trainingsplan zu erstellen.</p>
        <p><a class="btn btn-secondary" href="termin" role="button">Termin anfragen &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2>BMI berechnen</h2>
        <p>In diesem Bereich können Sie Ihren BMI messen, mit den gemessenen Daten können Sie, dann Ihren Trainingsplan finden.</p>
        <p><a class="btn btn-secondary" href="bmi" role="button">Mein BMI berechnen &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">


        <h2>Fitnesstracker</h2>
        <p>In diesem Berreich können Sie Ihr Workout tracken. Im Digitalen Tagebuch können Sie jeden Tag ihre Übungen speichern und somit Ihren Fortschritt tracken.</p>
        <p><a class="btn btn-secondary" href="tracker" role="button">Zum Tracker &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
 <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>

{% include "about.html" %}