{% include "head.html" %}
<body>
    <main role="main" class="container">

    <table class="table"style="color: white"> <!--Tabelle aus Daten von termin.json-->
  <thead> <!--Tabellentitel-->
    <tr>
      <th scope="col">Vor- und Nachname</th>
        <th scope="col">Ziel</th>
      <th scope="col">Telefon</th>
      <th scope="col">Alter</th>
        <th scope="col">Gewicht</th>
         <th scope="col">Grösse</th>
         <th scope="col">Zeit</th>
         <th scope="col">Datum</th>
    </tr>
  </thead>
        <br>
  <tbody>   <tr style=""> <!--Ausgabe der im Formular eingegebenen Daten-->
          <td>{{ ['name'] }}</td>
          <td>{{ ['ziel'] }}</td>
          <td>{{ ['telefon'] }}</td>
          <td>{{ ['alter'] }}</td>
          <td>{{ ['gewicht'] }}</td>
          <td>{{ ['groesse'] }}</td>
          <td>{{ ['zeit'] }}</td>
          <td>{{ ['datum'] }}</td>
        </tr>


  </head>


   <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>

{% include "about.html" %}