{% include "head.html" %}
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}
</style>
<body>
<center><h1 style="color: white">Login-Seite für den internen Gebrauch</h1> <!--Loginseite für Termineingaben-->
    <br>
    <br>
<h1 style="color: white">Log dich bitte ein</h1></center>
<br>
<center><form method="POST">
    <input type="text" name="username"> <!--Eingabe Benutzername-->
    <input type="password" name="password"> <!--Eingabe Passwort-->
    <input type="submit"> <!--Bestätigunsbutton-->
</form></center>


 <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>
{% include "about.html" %}