{% include "head.html" %}

<!-- Begin page content -->
<br>
<br>
<br>
<br>
<form method="POST" action=""> <!--Eingaben werden auf Server geladen mit Post-->
                        <label for="subject"><b>Übung</b></label>
    <br>
                        <select name="uebung" class="form-control" id="uebung" placeholder="uebung auswaehlen?" required>
                            <option value selected>Wähle aus der Liste</option>
                            <option value="Bankdruecken">Bankdrücken</option>
                             <option value="Butterfly">Butterfly</option>
                             <option value="Fiegende KH">Fliegende KH</option>
                             <option value="Kniebeuger">Kniebeugen</option>
                             <option value="Beinbeuger">Beinbeuger</option>
                             <option value="Beinstrecker">Beinstrecker</option>
                            <option value="Wadenheben">Wadenheben</option>
                            <option value="Curls">Curls</option>
                            <option value="Scottcurls">Scottcurls</option>
                             <option value="Beinheben">Beinheben</option>
                             <option value="Crunches">Crunches</option>
                             <option value="Latzug breit">Latzug breit</option>
                             <option value="Latzug eng">Latzug eng</option>
                             <option value="Rudern">Rudern</option>
                            <option value="Military Press">Military Press</option>
                            <option value="Frontheben">Frontheben</option>
                            <option value="Seitheben">Seitheben</option>
                             <option value="French Press">French Press</option>
                             <option value="Trizeps">Trizeps</option>
                             <option value="Shrugs">Shrugs</option>
                             <option value="Klimzuege">Klimzüge</option>
                            <option value="Bizeps">Bizeps</option>
                            <option value="Deadlift">Deadlift</option>
                            <option value="Kniebeuge">Kniebeuge</option>
                            <option value="Liegestuetz">Liegestütz</option>
                            <option value="Sit-ups">Sit-ups</option>
                            <option value="Schulterdruecken">Schulterdrücken</option>
                             <option value="Hammercurls">Hammercurls</option>
                             <option value="Bauchpresse">Bauchpresse</option>
                             <option value="Ausfallschritt">Ausfallschritt</option>
                             <option value="Schraegbankdruecken">Schrägbankdrücken</option>
                            <option value="Langhantelrudern">Langhantelrudern</option>
                            <option value="Reverse Crunches">Reverse Crunches</option>
                             <option value="Hyperextensions Latzug">Hyperextensions Latzug</option>
                             <option value="Beinpresse">Beinpresse</option>
                            <option value="Brust Dips">Brust Dips</option>
                            <option value="Butterfly Revers">Butterfly Revers</option>


                        </select>
                    </div>
<!--wie bereits oben beschrieben-->
<br><br>

<div class="form-group"> <!--wie bereits oben beschrieben-->
                        <label for="email"><b>Gewicht</b></label>
    <br>
                            <input type="text" name="kilo"    class="form-control" id="subject" placeholder="Gewicht" required  />
                    </div>
<br><br>
                    <div class="form-group">
                        <label for="email"><b>Wiederholungen</b></label>
                        <br>
                            <input type="text" name="wiederholungen" class="form-control" placeholder="Wiederholungen" required>
                    </div>
<br><br>
                    <div class="col-md-6 offset-md-3 offset-lg-3 offset-xl-3 button">
                                <button class="btn btn-primary btn-block" type="submit" name="submit" "style="margin-top: 20px;" >Senden	<!--Senden-Button-->
                                </button>
                            </div>







    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>

{% include "about.html" %}