{% include "head.html" %}
<style>
body {
  background-image: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}
</style>
<br>
<br>
<br>

<body>
 <main role="main" class="container">  <!--Liste zum Tracken der Eingaben aus tracker.html-->

    <table class="table" style="color: white">
  <thead>
    <tr>
        <th scope="col">Datum</th>
      <th scope="col">Übung</th>
        <th scope="col">Gewicht</th>
      <th scope="col">Wiederholungen</th>


    </tr>
  </thead>
  <tbody>
  {% for eintrag in tracker %}

  <tr style="">
      <td>{{ eintrag['datum'] }}  </td>
       <td><a href="{{url_for('einzel_liste', uebung=eintrag['uebung'] ) }}">{{ eintrag['uebung'] }}</a> </td>
          <td>{{ eintrag['kilo'] }}</td>
          <td>{{ eintrag['wiederholungen'] }}</td>



        </tr>
        {% endfor%}

  </tbody>
    </table>


 </main>

 <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js' )}}"></script>
{% include "about.html" %}